<div id="slider">
    <div class="slides">
        <!-- First slide -->
        <div class="slider">
            <div class="legend"></div>
            <div class="content">
                <div class="content-txt">
                    <h1 class="font-weight-bold"> Your Title </h1>
                    <h2 class="w-75"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex veniam provident nam
                        in molestias nesciunt minus illum quasi deleniti perferendis?</h2>
                </div>
            </div>
            <div class="images">
                <img class="img-fluid" src="assets/img/slider/absolutvision.jpg">
            </div>
        </div>
        <!-- Second slide -->
        <div class="slider">
            <div class="legend"></div>
            <div class="content">
                <div class="content-txt">
                    <h1 class="font-weight-bold w-50"> Your title </h1>
                    <h2 class="w-75"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati pariatur
                        soluta autem dolore recusandae, modi praesentium nulla id culpa reiciendis? </h2>
                </div>
            </div>
            <div class="images">
                <img class="img-fluid" src="assets/img/slider/roman.jpg">
            </div>
        </div>
        <!-- Third slide -->
        <div class="slider">
            <div class="legend"></div>
            <div class="content">
                <div class="content-txt">
                    <h1 class="font-weight-bold w-50"> Your title </h1>
                    <h2 class="w-75"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dicta ipsum fugit
                        odio illo vitae inventore vero reiciendis quae nesciunt. </h2>
                </div>
            </div>
            <div class="images">
                <img class="img-fluid" src="assets/img/slider/kayla.jpg">
            </div>
        </div>
        <!-- Fourth slide -->
        <div class="slider">
            <div class="legend"></div>
            <div class="content">
                <div class="content-txt">
                    <h1 class="font-weight-bold w-50"> Your title </h1>
                    <h2 class="w-75"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint molestias magni
                        maxime. Doloremque nemo unde consectetur veniam. Dolores, doloremque odio! </h2>
                </div>
            </div>
            <div class="images">
                <img class="img-fluid" src="assets/img/slider/john.jpg">
            </div>
        </div>
    </div>
</div>