<div class="container">
    <div class="row d-flex mt-3">
        <div class="card border-0 mr-3" style="width:20rem;">
            <img src="assets/img/posts/liza-rusalskay.jpg" class="card-img-top" alt="liza">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
        <div class="card border-0 mr-3" style="width:20rem;">
            <img src="assets/img/posts/liza-rusalskay.jpg" class="card-img-top" alt="liza">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
        <div class="card border-0 mr-3" style="width:20rem;">
            <img src="assets/img/posts/liza-rusalskay.jpg" class="card-img-top" alt="liza">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
</div>