<div class="container">
    <div class="row mt-1">
        <div class="col">
            <div class="card">
                <img src="assets/img/posts/benjamin.jpg" class="card-img-top" alt="benjamin">
                <div class="card-body">
                    <h5 class="card-title">this is a Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/posts/andy.jpg" class="card-img-top" alt="andy">
                <div class="card-body">
                    <h5 class="card-title">this is a Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <img src="assets/img/posts/wen.jpg" class="card-img-top" alt="andy">
                <div class="card-body">
                    <h5 class="card-title">this is a Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/posts/jessica.jpg" class="card-img-top" alt="andy">
                <div class="card-body">
                    <h5 class="card-title">this is a Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>