<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- slider -->
                <app-slider></app-slider>
                <!-- main Articles -->
                <app-body-articles class="mt-2"></app-body-articles>
            </div>
            <div class="col-md-4">
                <app-side-news></app-side-news>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- footer Articles -->
                <app-footer-articles></app-footer-articles>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- footer -->
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</section>